### Go ###
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

## Directory-based project format:
.idea/

# VI(M) files
.*.swp

# custom IGNORES
/pkg/
/bin/
/release/
ape-dev-rt.debug
.DS_Store
